SUPABASE_PROJECT_ID="mikkjphxrzxnpiccxbia"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_-AMRTBa_yu-WhqRFYMJRaw_6A0E2_9T"
SUPABASE_URL="https://mikkjphxrzxnpiccxbia.supabase.co"
VITE_SUPABASE_PROJECT_ID="mikkjphxrzxnpiccxbia"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_-AMRTBa_yu-WhqRFYMJRaw_6A0E2_9T"
VITE_SUPABASE_URL="https://mikkjphxrzxnpiccxbia.supabase.co"
